*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}
.App{
    background-color: rgba(147, 209, 254, 1);
    padding-bottom: 140px;
}