.overley{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.4);
    
}

.shadow{
    position: absolute;
    height: 100%;
    right: 0;
    width: 680px;
    background-color: #fff;

}
.BoxMenu__title{
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.BoxMenu__btm {
    width: 100px;
    border: 2px solid rgb(18, 110, 202);
    background: none;
    color: rgb(18, 110, 202) ;
    cursor: pointer;
}
