.Cards{
    margin-top: 139px;
}

.Cards__box{
    width: 400px;
    height: 420px;
    box-shadow:0px 0px 8px black;
    text-align: center;
}

.Cards__img{
    margin-top: 38px;
    width: 310px;
    height: 224px;
    
}

.Cards__box-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-top: 30px;
}

.point__img {
    cursor: pointer;
}

.Cards__box-cont h3 {
    margin-top: 34px;
}