.Futer__box{
    margin-top: 140px;
    background-color: rgba(187, 221, 255, 1);
    height: 150px;
    padding: 40px 0 0 0;
}

.ex{
 font-size: 16px;
}
.ep {
    margin-top: 10px;
    font-size: 14px;
    width: 333px;
    color: rgba(66, 66, 66, 1);
}
