.Header{
    display: flex;
    justify-content: space-between;
}

.Header__logo {
    display: flex;
    align-items: center;
    gap: 31px;
    font-size: 24px;
}
.icon__dron{
    width: 100px;
}
.Header__icon {
    display: flex;
    align-items: center;
    gap: 56px;
}

.Header__icon img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}


