.Slader {
    display: flex;
    justify-content: center;
    gap: 162px;
    align-items: center;
    margin-top: 170px;
}

.Slader__window {
    background-color:rgba(243, 243, 243, 1);
    box-shadow: 0px 0px 8px black;
    width: 1400px;
    height: 315px;
    display: flex;
    justify-content: center;
    gap: 127px;
}

.Slader__lr{
    width: 200px;
    height: 178px;
    background-color: rgba(243, 243, 243, 1);
    box-shadow: 0px 0px 8px black;
}

.Slader__window-box{
    margin-top: 79px; 
    margin-left: -500px; 
    position: absolute;
}

.Slader__window-box p {
    font-size: 30px;
}

.Slader__windwo-item{
    margin-top: 30px;
    margin-left: 28px;
    font-size: 26px;
}

.Slader__windwo-li{
    margin-top: 25px;
}
.Slader__window-img{
    margin-left: 224px;
    width: 990px;
    height: 300px;
}