.Greetings{
    background: url('../../../public/img/GreetingsFons.png')  no-repeat center;
    height: 1000px;
    overflow-x:hidden;
}
.Greetings__box-log{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 220px 0 0;
    margin-left: 90px;
    color: #fff;
}
.Greetings__box-card{
    display: flex;
    justify-content: center;
}