
.GreetingsCard__box{
    display: flex;
    cursor: default;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    width: 64px;
    height: 64px;
    padding: 10px;
    align-content: center;
    transition: all 0.6s;
    
}
.GreetingsCard__box:hover{
    width: 180px;
    justify-content: left;
    transition: all 0.6s;
}
.GreetingsCard__text{
    display: none;
    font-size: 14px;
    color: #fff;
   
}
.GreetingsCard__box:hover .GreetingsCard__text{
    display:block;
    
}